	<div>
		<strong>
			    
			<a href="#dashboard link#" target="_blank">
				 #product name#
			</a>
		</strong>
	</div>
	<div>
		<ul>
			<li>
				<span style="color: #000000;">
					 Analyzed CRs: #analyzed crs#
				</span>
			</li>
			<li>
				<span style="color: #000000;">
					 Releases under analysis:
				</span>
			</li>
			<ul>
				#releases under analysis#
			</ul>
			<li>
				<span style="color: #000000;">
					 Top issues:
				</span>
				<ul>
					#top issues#
				</ul>
			</li>
			<li>
				<span style="color: #000000;">
					 More detailed information at 
					<a href="#dashboard link#" target="_blank">
						 Dashboard
					</a>
				</span>
			</li>
			#Wakelock Chart#
		</ul>
	</div>
	<br />