<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="gmail_extra">
	<!-- All Products Highlights-->
	<div>
		<strong>
			    All Products Highlights:
		</strong>
	</div>
	<div>
		<ul>
			<li>
				#products highlights#
			</li>
		</ul>
	</div>
	<br />
		<!-- Product details -->
		#product details#
	 
</div>