{"query": "SELECT sproduct FROM [bug2go.bug2go] WHERE (sproduct CONTAINS 'kinzie' AND rep_scategory CONTAINS 'A:Battery Discharge' AND ssw_version >= 'LPK23.120' AND semail_address CONTAINS 'cesarc' AND dcreate_date >= '2015-07-22 00:00')","timeoutMs": 120000}