{
	"update": {
        "comment": [
            {
                "add": {
                    "body": "#given_comment#"
                }
            }
        ]
    },
	"fields": {
        "resolution": {
            "id": "#given_as#"
        },
		"customfield_10622": "null"
	},
	"transition": {
		"id": "21"
	}
}