{
	"update": {
        "comment": [
            {
                "add": {
                    "body": "#given_comment#"
                }
            }
        ]
    },
	"fields": {
        "resolution": {
            "name": "Duplicate"
        },
		"customfield_10622": "#given_dup#"
    },
	"transition": {
		"id": "21"
	}
}