{
    "jql": "#jira_query#",
    "startAt": 0,
    "maxResults": 500,
    "fields": [
    	"key",
        "summary",
        "status",
        "assignee",
        "customfield_10622",
        "description",
        "updated",
        "comment"
    ]
}